body {
  background-color: #f3f5fc;
  font-family: Inter;
}

button {
  padding: 10px 30px;
  border-radius: 24px !important;
}
.button-blue {
  background: #0a3871;
  color: white;
}
.button-gray {
  background: #d8dfe8;
  color: #0a3871;
}

.screen {
  height: 60vh;
}

.letter-space {
  display: inline-block;
  max-width: 45px;
  border-bottom: 5px solid black;
}
